<h2>Lista de autores</h2>
<ul class="author-list">
	<li><img src="<%= developer.foto %>"><strong>Developer: </strong><%= developer.nombre %> </li>
	<li><img src="<%= webDesigner.foto %>"><strong>Web Designer: </strong><%= webDesigner.nombre %> </li>
	<li><img src="<%= databaseManager.foto %>"><strong>Database Manager: </strong><%= databaseManager.nombre %></li>
</ul>