<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %></p>
  <input name="respuesta" type="text" value="Responda aquí" />
  <input type="submit" value="Enviar" />
</form>
<br>
<!-- Comentarios -->
<p><strong>Comentarios:</strong></p>
<% for(var i in quiz.Comments){ %>
	<% if(quiz.Comments[i].publicado || session.user){ %>
		<p>- <%= quiz.Comments[i].texto %></p> 
		<% if(session.user && !quiz.Comments[i].publicado){ %>
			<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish">
				<button>Publicar</button>
			</a>
		<% } %>	
	<% } %>
<% } %>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p><br>

<!-- Volver -->
<p><a href="/quizes">Volver</a></p><br>